.row {
  clear: both;    }
.cell {
  float: left;
  border: 1px solid;
  width: 30px;
  height: 30px;
}
.food {
  background-image: url("img/mushroom.jpg");
  background-size: 25px;
  background-repeat: no-repeat;
}
.mario-location {
  background-image: url("img/MarioSMBW.png");
  background-size: 30px;
  background-repeat: no-repeat;
}
